/* untuk menghindari kebingungan gunakan camelCase, userDetails */
.user-details {
  text-align: left;
  padding: 40px;
  color: white;
  background-color: black;
}

.border {
  border-radius: 8px;
}
